.page-container {
  display: flex;
  min-height: 100vh;
  background-color: beige;
}

.details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-left: 500px;
  height: fit-content;
  padding: 20px;
  flex: 1;
  max-width: 1000px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

  
  .details-container h1 {
    text-align: center;
    color: #2d4bf0;
    margin-bottom: 30px;
  }
  
  .details-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  
  .details-image img {
    width: 300px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .details-info {
    flex: 1;
    min-width: 250px;
  }
  
  .details-info p {
    font-size: 16px;
    margin: 10px 0;
    color: #444;
  }
  
  .details-info p strong {
    color: #2d4bf0;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .details-card {
      flex-direction: column;
    }
  
    .details-container {
      margin: 20px;
      padding: 15px;
    }
  }
  
  .create-loan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #2d4bf0;
    cursor: pointer;
  }

  .create-loan:hover{
    background-color: #1e2f84;
  }