@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body, html{
    height: 100%;
    margin: 0;
    background-color: #ac6b3f;
    /* overflow: hidden; */
}   

.login-images-background{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.login-line-background{
    display: flex;
    justify-content: space-around;
}

.login-line-background img{
    height: 70%;
    width: 10%;
    color: #F6F1E6;
}

.login-line-background img:nth-child(even){
    transform: rotate(20deg);
}

.login-line-background img:nth-child(odd){
    transform: rotate(-20deg);
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
  
.login-form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f1e6ef;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
}
  
.login-title {
    color: #264143;
    font-weight: 900;
    font-size: 2em;
    margin-top: 20px;
}
  
.login-sub_title {
    font-weight: 600;
    margin: 5px 0;
}
  
.login-form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}
  
.login-form_style {
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}
  
.login-form_style:focus, .login-btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
}
  
.login-btn {
    padding: 15px;
    margin: 20px 0px;
    width: 290px;
    font-size: 15px;
    background: #ff8800;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
    cursor: pointer;
}
  
.login-btn:hover {
    opacity: .9;
}
  
.login-link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
}

